* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-bottom: 24px;
}

header p {
  color: #42d3ff;
  font-size: 16px;
  line-height: 26px;
}

form {
  margin-top: 38px;
  background: #fafafc;
  border-radius: 8px;
  min-height: 300px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6f0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
  color: #c7c5cb;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;

  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg fill='%23bababa' height='16px' width='16px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve' stroke='%23bababa'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  align-items: center;
  display: flex;
  margin: 0;
  gap: 16px;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;

  display: block;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2319c2bf' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 78.369 78.369' xml:space='preserve' stroke='%2319c2bf'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}
